# Содержимое файла: app/backend/requirements.txt
fastapi
uvicorn
cassandra-driver
python-jose[cryptography]
prometheus-client
prometheus-fastapi-instrumentator
httpx

# OpenTelemetry dependencies for tracing
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-httpx
opentelemetry-instrumentation-cassandra
opentelemetry-exporter-jaeger-thrift
opentelemetry-exporter-otlp-proto-http